[submodule "MimicRec"]
	path = MimicRec
	url = git@github.com:takaki-maeda-99/MimicRec.git
[submodule "X-VLA-Adapter"]
	path = X-VLA-Adapter
	url = git@github.com:takaki-maeda-99/X-VLA-Adapter.git
[submodule "MimicAnno"]
	path = MimicAnno
	url = git@github.com:takaki-maeda-99/MimicAnno.git
